<div class="toolbar">
  <button
    type="button"
    [class.active]="activeView === 'creator'"
    (click)="setView('creator')"
  >
    Creator
  </button>
  <button
    type="button"
    [class.active]="activeView === 'survey'"
    (click)="setView('survey')"
  >
    Survey
  </button>
</div>

@if (activeView === 'creator' && surveyCreatorModel) {
  <survey-creator class="main-view" [model]="surveyCreatorModel" />
}

@if (activeView === 'survey' && surveyModel) {
  <survey class="main-view" [model]="surveyModel" />
}
